<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipaulpro.afilechooser" >

    <application>
		<activity
			android:name="com.ipaulpro.afilechooser.FileChooserActivity"
			android:icon="@drawable/ic_chooser"
			android:exported="false"
			android:label="@string/choose_file" >
		</activity>
		<activity
			android:name="com.ipaulpro.afilechooser.DirectoryChooserActivity"
			android:icon="@drawable/ic_chooser"
			android:exported="false"
			android:label="@string/choose_dir" >
		</activity>
    </application>

</manifest>

